__pycache__/
*.pyc

files/userpics/*
!files/userpics/.gitkeep

files/documents/*
!files/documents/.gitkeep

files/thumbnails/*
!files/thumbnails/.gitkeep

dumps/collections/*
!dumps/collections/.gitkeep

dumps/documents/*
!dumps/documents/.gitkeep

dumps/users/*
!dumps/users/.gitkeep
