__pycache__/
*.pyc
.coverage

files/userpics/*
!files/userpics/.gitkeep

files/uploads/*
!files/uploads/.gitkeep

files/thumbnails/*
!files/thumbnails/.gitkeep

docs/_build/*
!docs/_build/.gitignore

docs/_static/*
!docs/_static/.gitignore

docs/_templates/*
!docs/_templates/.gitignore

docs/autodoc/*
!docs/autodoc/.gitignore
